@charset "UTF-8";

/*
    Paltea de Cores:
    branco
    preto
    roxo: #0F3FF6
    verde-agua: #0FF6B5
*/

/* Variaveis  */
:root{
    --roxo: #3F84E8;
    --verde-agua: #3FE894;
    --cor-fundo: #46D2DB;
}

html{
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
section#login{
    width: 250px;
    height: 515px;
    background-color: white;
    border-radius: 20px;
}

