@charset "UTF-8";

/*
    Paltea de Cores:
    branco
    preto
    roxo: #0F3FF6
    verde-agua: #0FF6B5
*/

/* Variaveis  */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --roxo: #3F84E8;
    --verde-agua: #3FE894;
    --cor-fundo: #46D2DB;
    --inputs: #C0E83F;
}

html{
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
section#login{
    width: 280px;
    height: 515px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

section#imagem{
    background: black url(../imagens/pexels-emre-can-acer-2110951\ \(1\).jpg) no-repeat;
    background-size: cover;
    height: 40%;
    width: 100%;
}

section#formulario {
    padding: 12px;
}

section#formulario > h1{
    text-align: center;    
    font-size: 1.5em;    
}

section#formulario > p{
    margin: 6px 0px 10px 0px;
    font-size: 0.9em;
    text-align: center;
}

div.campo{
    display: block;
    background-color:var(--cor-fundo);
    height: 35px;
    padding-left: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.397);
    overflow: hidden;
    margin-bottom: 3px;
}

input#iemail:focus-within, input#isenha:focus-within{
    background-color: white;
}

input#iemail, input#isenha{
    width: 80%;
    height: 35px;
    background-color: var(--roxo);
    transform: translateX(3px);
    border: 1px solid rgba(0, 0, 0, 0.425);
    border-radius: 0px 4px 4px 0px;
}

input#botaoEnviar {
    display: block;
    width: 100%;
    height: 33px;
    margin-top: 15px;
    background-color: var(--roxo);
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 1em;
}

input#botaoEnviar:hover {
    background-color: white;
    color: var(--roxo);
    border: 1px solid var(--roxo);
    cursor: pointer;
}


#esqueciSenha{
    display: block;
    width: 100%;
    height: 33px;
    margin-top: 5px;
    text-align: center;
    border: 1px solid var(--roxo);
    border-radius: 2px;
    padding-top: 3px;
    background-color: white;
    text-decoration: none;
    color: var(--roxo);
    transform: translate(-2px);
}

#esqueciSenha:hover{
    background-color: var(--roxo);
    color: white;
}